// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.spots-show-info {
  margin: 0px 20px;
  width: auto;
  height: 80px;
  font-family: Helvetica Neue;
  font-size: 13px;
  color: #484848;
  letter-spacing: 0.07em;
}

#house-image {
  object-fit: cover;
  min-height: 300px;
  max-height: 600px;
  padding-bottom: 20px;
}

.spots-show-list {
  width: 60%;
  padding-left: 30px;
}

#show-page-title {
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 10px;
}

.spots-show-list ul {
  display: flex;
  font-size: 17px;
  font-weight: 200;
}

.spots-show-list img {
  width: 15px;
  height: 15px;
  padding: 3px 5px;
}

#show-page-description {
  font-size: 17px;
  font-weight: 200;
  padding-top: 20px;
}
