// Place all the styles related to the api/spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-elements {
  display: flex;
  align-content: left;
  margin-bottom: 20px;
  margin-left: 20px;
  color: #484848;
  font-family: Helvetica Neue;
  font-weight: 300;
  letter-spacing: 0.07em;
  border: 1px solid #D3D3D3;
  border-radius: 4px;
}

.list-elements img {
  width: 350px;
  height: 230px;
  padding: 0px 10px;
  background-color: #D3D3D3;
  border-radius: 4px;
}

.list-elements img:hover {
  background-color: gray;
}

.list-elements span {
  width: 100%;
  padding: 25px 15px;
}

#title {
  font-size: 22px;
  font-weight: 500;
  line-height: 25px;
}

#spot-items {
  display: flex;
  align-items: left;
  font-size: 19px;
}

#price {
  font-size: 19px;
  padding-top: 50px;
}

#header {
  font-size: 12px;
  font-weight: 600;
  color: #521110;
  padding-bottom: 12px;
}

.spots-index-with-map {
  display: flex;
  justify-content: space-between;
}

#map-container {
  align-items: left;
  margin-right: 25px;
  width: 50%;
  min-height: 500px;
  max-height: 800px;
}
