// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.spots-show-info {
  width: auto;
  height: 80px;
  font-family: Helvetica Neue;
  font-size: 13px;
  color: #484848;
  letter-spacing: 0.07em;
}

#house-image {
  object-fit: cover;
  min-height: 300px;
  max-height: 600px;
  padding-bottom: 20px;
}

.spots-show-list {
  width: 60%;
  padding-left: 30px;
}

#header {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 15px;
}

#show-page-title {
  font-size: 36px;
  font-weight: 700;
  padding-top: 25px;
  padding-bottom: 15px;
  border-top: 1px solid #D3D3D3;
}

.spots-show-list ul {
  display: flex;
  font-size: 17px;
  font-weight: 200;
  padding-right: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid #D3D3D3;
}

.spots-show-list img {
  width: 15px;
  height: 15px;
  padding: 3px 5px;
}

#show-page-description {
  font-size: 17px;
  font-weight: 200;
  padding: 20px 0px;
}
