.navbar {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 80px;
  font-family: Helvetica Neue;
  font-size: 13px;
  color: #686868;
  letter-spacing: 0.07em;
  background-color: white;
}

.navbar-links {
  display: flex;
  justify-content: center;
  padding: 33px 10px;
  margin: 0px 5px;
  margin-bottom: -10px;
}

.navbar-links * {
  padding-left: 6px;
  padding-right: 6px;
  margin: 0px 7px;
}

#logo {
  width: 65px;
  height: 60px;
  padding: 8px 20px;
}

.navbar-links *:hover {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.navbar-links *:hover {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.navbar-links p {
}

.navbar-links p:hover {
  border-bottom-width: 0px;
  border-bottom-style: none;
}

#session {
  display: flex;
  justify-content: space-between;
  width: auto;
  padding-bottom: 10px;
  font-family: Helvetica Neue;
  font-size: 12.5px;
  color: #686868;
  letter-spacing: 0.07em;
  border-radius: 0px;
}


.nav-bar-search-form {
  display: flex;
  justify-content: space-between;
  border: 1px solid #D3D3D3;
  padding: 5px 10px;
  width: 50%;
  height: 22px;
  margin-top: 25px;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
}

.nav-bar-search-form-input {
  width: 100%;
  padding-left: 5px;
}

.nav-bar-search-form img {
  width: 23px;
  height: 23px;
  opacity: 0.5;
}

input.nav-bar-search-form-input::-webkit-input-placeholder {
  color: #686868;
  font-weight: 200;
  letter-spacing: 0.07em;
  font-family: Helvetica Neue;
  font-size: 16px;
}
