.general-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 33px;
}

.background {
  background-image: url(https://images.unsplash.com/reserve/N13RIliTTASBbuYyszgq_P9020914-54.jpg?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=18b23ed9f04abbb3f0c1bc8a0e9fc028&auto=format&fit=crop&w=667&q=80);
  background-size: cover;
  width: 100%;
  height: 90%;
  border-radius: 10px;
  position: fixed;
  opacity: 0.2;
}

.search-bar {
  z-index: 10;
  margin: 100px auto;
  width: 50%;
  font-family: Helvetica Neue;
  color: #484848;
  letter-spacing: 0.07em;
}

.search-bar span {
  font-size: 48px;
  font-weight: 500;
  color: #FF5A5F;
}

.search-bar p {
  font-size: 48px;
  font-weight: 300;
  max-width: 800px;
  min-width: 600px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  border: 1px solid #D3D3D3;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  background-color: white;
}

#search-form-input {
  width: 100%;
  padding-left: 5px;
}

.search-form img {
  width: 32px;
  height: 32px;
  opacity: 0.5;
}

.search-errors {
  margin: 0 auto;
  margin-top: 200px;
}

#first-error {
  font-family: Helvetica Neue;
  font-size: 25px;
  color: #FF5A5F;
  margin-bottom: 15px;
}

#second-error {
  font-family: Helvetica Neue;
  text-decoration: underline;
}

#explore {
  font-weight: 500;
  font-size: 28px;
  color: #484848;
  padding-top: 150px;
  padding-bottom: 10px;
}

.themeparks {
  display: flex;
  justify-content: space-between;
  min-width: 850px;
}

.disneyland {
  width: 200px;
  height: 150px;
  position: relative;
}

.disneyland img {
  width: 100%;
}

.disneyland:after {
  content: 'Disneyland';
  color: white;
  font-family: Helvetica Neue;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%; height: 88%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.disneyland:hover:after {
    opacity: 1;
}

.universal-studios {
  width: 200px;
  height: 150px;
  position: relative;
}

.universal-studios img {
  width: 100%;
  height: 88%;
}

.universal-studios:after {
  content: 'Universal Studios';
  color: white;
  font-family: Helvetica Neue;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%; height: 88%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.universal-studios:hover:after {
  opacity: 1;
}

.six-flags {
  width: 200px;
  height: 150px;
  position: relative;
}

.six-flags img {
  width: 100%;
  height: 88%
}

.six-flags:after {
  content: 'Six Flags';
  color: white;
  font-family: Helvetica Neue;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%; height: 88%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.six-flags:hover:after {
  opacity: 1;
}

.explore-all {
  width: 200px;
  height: 150px;
  position: relative;
}

.explore-all img {
  width: 100%;
  height: 88%;
}

.explore-all:after {
  content: 'Explore All';
  color: white;
  font-family: Helvetica Neue;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%; height: 88%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.explore-all:hover:after {
  opacity: 1;
}
